**Naive Bayes** adalah sebuah algoritma klasifikasi dalam machine learning yang berdasarkan pada teorema probabilitas Bayes. Naive Bayes digunakan untuk data bertipe kategorikal dan tugas klasifikasi, di mana tujuannya adalah untuk memprediksi kategori atau kelas dari suatu instance berdasarkan distribusi probabilitas fitur-fitur yang diberikan.

# Import Library

In [1]:
import pandas as pd

# Data Loading

In [2]:
df = pd.read_excel('exams(NAIVE BAYES).xlsx')
df.head()

,gender,race/ethnicity,parental level of education,test preparation course,math score,math score.1,reading score,reading score.1,writing score,writing score.1,Class_lunch
0,male,group A,high school,completed,C,67,C,67,C,63,standard
1,female,group D,some high school,none,E,40,D,59,D,55,free/reduced
2,male,group E,some college,none,D,59,D,60,D,50,free/reduced
3,male,group B,high school,none,B,77,B,78,C,68,standard
4,male,group E,associate's degree,completed,B,78,B,73,C,68,standard

# Data Preprocessing

In [3]:
# hapus kolom yang tidak perlu
df.drop(['gender','math score.1','reading score.1','writing score.1'], axis=1, inplace=True)

kolom diatas dihapus karena data yang digunakan dat dengan tipe kategorikal

In [4]:
df.head()

,race/ethnicity,parental level of education,test preparation course,math score,reading score,writing score,Class_lunch
0,group A,high school,completed,C,C,C,standard
1,group D,some high school,none,E,D,D,free/reduced
2,group E,some college,none,D,D,D,free/reduced
3,group B,high school,none,B,B,C,standard
4,group E,associate's degree,completed,B,B,C,standard

In [5]:
# train
x = df.copy()
df

,race/ethnicity,parental level of education,test preparation course,math score,reading score,writing score,Class_lunch
0,group A,high school,completed,C,C,C,standard
1,group D,some high school,none,E,D,D,free/reduced
2,group E,some college,none,D,D,D,free/reduced
3,group B,high school,none,B,B,C,standard
4,group E,associate's degree,completed,B,B,C,standard
...,...,...,...,...,...,...,...
995,group C,high school,none,B,C,C,standard
996,group D,associate's degree,completed,A,A,A,free/reduced
997,group C,some high school,none,E,E,E,free/reduced
998,group C,some college,none,B,B,A,standard
999,group A,some college,completed,C,D,C,standard

# Algoritma Naive Bayes

In [6]:
class NaiveBayesClassifier:
    # inisialisasi objek kelas
    def __init__(self, data):
        self.data = data
        self.classes = set(data['Class_lunch'])
        self.priors = {}
        self.likelihoods = {}

    # menghitung probabilitas prior
    def calculate_prior(self):
        total_samples = len(self.data)
        for cls in self.classes:
            class_samples = self.data[self.data['Class_lunch'] == cls]
            self.priors[cls] = len(class_samples) / total_samples
        print("Prior probabilities:")
        print(self.priors)

    # menghitung likelihood
    def calculate_likelihood(self, feature, value, cls):
        class_samples = self.data[self.data['Class_lunch'] == cls]
        numerator = len(class_samples[class_samples[feature] == value]) + 1
        denominator = len(class_samples) + len(set(self.data[feature]))
        likelihood = numerator / denominator
        print(f"Likelihood for {feature}={value} and Class_lunch={cls}: {likelihood}")
        return likelihood

    # training model
    def train(self):
        self.calculate_prior()

        for feature in self.data.columns[:-1]:
            self.likelihoods[feature] = {}
            for value in set(self.data[feature]):
                for cls in self.classes:
                    likelihood = self.calculate_likelihood(feature, value, cls)
                    self.likelihoods[feature][(value, cls)] = likelihood
                    
    # prediksi
    def predict(self, input_data):
        probabilities = {}

        for cls in self.classes:
            probability = self.priors[cls]
            for feature, value in input_data.items():
                likelihood = self.likelihoods[feature].get((value, cls), 1e-10)
                probability *= likelihood
                # print(f"P({feature}={value} | Class_lunch={cls}) = {likelihood}")
            probabilities[cls] = probability

        prediction = max(probabilities, key=probabilities.get)
        print("\nClass probabilities:")
        print(probabilities)
        print(f"\nPredicted Class_lunch: {prediction}")

In [7]:
classifier = NaiveBayesClassifier(x)
classifier.train()

Prior probabilities:
{'standard': 0.652, 'free/reduced': 0.348}
Likelihood for race/ethnicity=group B and Class_lunch=standard: 0.2070015220700152
Likelihood for race/ethnicity=group B and Class_lunch=free/reduced: 0.20113314447592068
Likelihood for race/ethnicity=group E and Class_lunch=standard: 0.1111111111111111
Likelihood for race/ethnicity=group E and Class_lunch=free/reduced: 0.16997167138810199
Likelihood for race/ethnicity=group C and Class_lunch=standard: 0.3181126331811263
Likelihood for race/ethnicity=group C and Class_lunch=free/reduced: 0.3286118980169972
Likelihood for race/ethnicity=group D and Class_lunch=standard: 0.2815829528158295
Likelihood for race/ethnicity=group D and Class_lunch=free/reduced: 0.2237960339943343
Likelihood for race/ethnicity=group A and Class_lunch=standard: 0.0821917808219178
Likelihood for race/ethnicity=group A and Class_lunch=free/reduced: 0.0764872521246459
Likelihood for parental level of education=some high school and Class_lunch=standard: 0.1899696048632219
Likelihood for parental level of education=some high school and Class_lunch=free/reduced: 0.192090395480226
Likelihood for parental level of education=master's degree and Class_lunch=standard: 0.07142857142857142
Likelihood for parental level of education=master's degree and Class_lunch=free/reduced: 0.07062146892655367
Likelihood for parental level of education=associate's degree and Class_lunch=standard: 0.20212765957446807
Likelihood for parental level of education=associate's degree and Class_lunch=free/reduced: 0.2033898305084746
Likelihood for parental level of education=high school and Class_lunch=standard: 0.20820668693009117
Likelihood for parental level of education=high school and Class_lunch=free/reduced: 0.18926553672316385
Likelihood for parental level of education=some college and Class_lunch=standard: 0.20516717325227962
Likelihood for parental level of education=some college and Class_lunch=free/reduced: 0.2514124293785311
Likelihood for parental level of education=bachelor's degree and Class_lunch=standard: 0.12310030395136778
Likelihood for parental level of education=bachelor's degree and Class_lunch=free/reduced: 0.09322033898305085
Likelihood for test preparation course=completed and Class_lunch=standard: 0.345565749235474
Likelihood for test preparation course=completed and Class_lunch=free/reduced: 0.3171428571428571
Likelihood for test preparation course=none and Class_lunch=standard: 0.654434250764526
Likelihood for test preparation course=none and Class_lunch=free/reduced: 0.6828571428571428
Likelihood for math score=D and Class_lunch=standard: 0.167427701674277
Likelihood for math score=D and Class_lunch=free/reduced: 0.28328611898017
Likelihood for math score=C and Class_lunch=standard: 0.2465753424657534
Likelihood for math score=C and Class_lunch=free/reduced: 0.22096317280453256
Likelihood for math score=E and Class_lunch=standard: 0.0776255707762557
Likelihood for math score=E and Class_lunch=free/reduced: 0.2719546742209632
Likelihood for math score=A and Class_lunch=standard: 0.2633181126331811
Likelihood for math score=A and Class_lunch=free/reduced: 0.09915014164305949
Likelihood for math score=B and Class_lunch=standard: 0.2450532724505327
Likelihood for math score=B and Class_lunch=free/reduced: 0.12464589235127478
Likelihood for reading score=D and Class_lunch=standard: 0.1552511415525114
Likelihood for reading score=D and Class_lunch=free/reduced: 0.19263456090651557
Likelihood for reading score=C and Class_lunch=standard: 0.2237442922374429
Likelihood for reading score=C and Class_lunch=free/reduced: 0.28611898016997167
Likelihood for reading score=E and Class_lunch=standard: 0.0532724505327245
Likelihood for reading score=E and Class_lunch=free/reduced: 0.19830028328611898
Likelihood for reading score=A and Class_lunch=standard: 0.2983257229832572
Likelihood for reading score=A and Class_lunch=free/reduced: 0.1388101983002833
Likelihood for reading score=B and Class_lunch=standard: 0.2694063926940639
Likelihood for reading score=B and Class_lunch=free/reduced: 0.18413597733711048
Likelihood for writing score=D and Class_lunch=standard: 0.1476407914764079
Likelihood for writing score=D and Class_lunch=free/reduced: 0.23512747875354106
Likelihood for writing score=C and Class_lunch=standard: 0.2420091324200913
Likelihood for writing score=C and Class_lunch=free/reduced: 0.2521246458923513
Likelihood for writing score=E and Class_lunch=standard: 0.0791476407914764
Likelihood for writing score=E and Class_lunch=free/reduced: 0.24645892351274787
Likelihood for writing score=A and Class_lunch=standard: 0.3013698630136986
Likelihood for writing score=A and Class_lunch=free/reduced: 0.13031161473087818
Likelihood for writing score=B and Class_lunch=standard: 0.2298325722983257
Likelihood for writing score=B and Class_lunch=free/reduced: 0.1359773371104816

In [8]:
# Test
input_data = {
    'race/ethnicity': 'group B',
    'parental level of education': 'high school',
    'test preparation course': 'completed',
    'math score': 'A',
    'reading score': 'DA',
    'writing score': 'A'
}

classifier.predict(input_data)

Class probabilities:
{'standard': 7.705965373237403e-14, 'free/reduced': 5.42832482718769e-15}

Predicted Class_lunch: standard